* {
    font-family: 'Cal Sans';
    font-weight: 400;
}

#myBoard {
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    margin: auto;
}

.center {
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    padding-top: 20px;
}

.main-container {
    text-align: center;
}

#container {
    height: 30%;
}

.timer-box span {
    line-height: 1;
}

#status {
    transition: all 0.3s ease;
}

body {
    background-color: #000;
}

#gameboard {
    text-align: center;
}

#chessboard-background {
    height: 95%;
}

#scroll-pgn {
    max-width: 700px;
}

#liveAlertPlaceholder {
    margin: 20px;
}

.game-box {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .center {
        width: 50%;
    }

    .center {
        max-width: 550px;
    }
}